
th, td, tr, table {
    border-collapse: collapse;
    padding-top : 15px;
    padding-bottom : 15px;
    border: 1px solid black;
    text-align: center;
 
}
table {
    overflow: scroll;
}
